<!DOCTYPE html>
<!--{%load static %}

<html>
<body>
    <form method="POST" >  
    {% csrf_token %}
        Name : <input type="text" value="{{sendthisuser.name}}"/>
        
        E-mail : <input type="text" value="{{sendthisuser.email}}"/>
        
        Phone Number :<input type="text" value="{{sendthisuser.phoneno}}"/>
        Password: <input type="text" value="{{sendthisuser.password}}"/>
    </form>
</body>
</html>
-->

{%load static %}
<html>
<head>

<style>
.card
{
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#f1f1f1;
}

table {
      background-color: white;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }
    tr:hover {background-color:#f1f1f1;}

    .navbar
    {
      background-color: #9de3f0;
    }

    .navbar .navbar-nav li a:hover
    {
      background-color: white;
      opacity: 0.6;
      border-bottom: 2px solid black;
    }
</style>

{% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% endcomment %}
<link rel="stylesheet" href="{% static 'bootstrapfiles/bootstrap.min.css' %}">

</head>
<body>


<nav class="navbar fixed-top navbar-expand-sm navbar-light " >  
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/webmainpage">Home </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " href="/chat" >Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" >Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/logout" >Logout</a>
      </li>
    </ul>
    
  </div>
</nav>

<br><br><br>
<form method="POST" action="/update" enctype="multipart/form-data">
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto py-4">
            <div class="card">
                <div class="card-header">
                    <h1>Update Profile</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                    
                            {% comment %} <tr>
                                <td>
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" >Name  : </span>
                                       <input type="text" class="form-control" name="name" value="{{sendthisuser.name}}" >
                                  </div>
                                  </td>
                            </tr> {% endcomment %}
{% comment %} 
                            <tr>
                                <td>
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" >E-mail  : </span>
                                  <input type="text" class="form-control" name="email" value="{{sendthisuser.email}}">
                                </div>
                                </td>
                            </tr> {% endcomment %}

                            <tr>
                                <td>
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right:100px">Phone no:</span>
                                    <input type="text" class="form-control" name="phoneno" value="{{sendthisuser.phoneno}}">
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right:40px">Current Password :</span>
                                  {% comment %} <input type="text" class="form-control" name="password" value="{{sendthisuser.password}}"/>  {% endcomment %}
                                    <input type="text" class="form-control" name="password" /> 
                                </div>
                              </td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right:25px">Enter new Password :</span>
                                  <input type="text" class="form-control" name="newpassword" /> 
                                </div>
                              </td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" style="padding-right:7px">Reenter new Password :</span>
                                  <input type="text" class="form-control" name="renewpassword" /> 
                                </div>
                              </td>
                            </tr>
                           <tr> 
                            <td><button class="btn btn-outline-primary" type="submit">Update</button></td>
                            {% comment %} <td><a href="/webmainpage" class="btn btn-primary">Go Back</a> </td> {% endcomment %}
                            </tr>
                            <tr>
                            {% if msg %}
                              <td>
                                  <span class="input-group-text" style="padding-right:7px ">{{msg}}</span>
                                  
                              </td>
                              
                            {% endif %}
                            </tr>
                            <tr><td><a href="/webmainpage" class="btn btn-primary">Home Page</a> </td>
                            </tr>

                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</form>


<h1 style="text-align: center;"> Lost Item details Uploaded by you</h1>
  <table style="margin-bottom:  10px">
    <tr>
      <th>Item Name</th>
      <th>Date of lost</th>
      <th>Recieved status</th>
      <th>Remove Item</th>
    </tr>
    {% for s in stl %}
        <tr>
        <td>{{s.selectitem}}</td>
        <td>{{s.date}}</td>
        {% ifequal 1 s.recievedstatus %}
        <td><a href="/recieved/{{s.id}}" class="btn btn-primary" >Receieved</a></td>
        {%else%}
        <td><button  class="btn btn-primary" disabled>Receieved</button></td>
        {%endifequal%}
        <td><a href="/deletelost/{{s.id}}" class="btn btn-danger">Delete</a></td>
        </tr>
    {%endfor%}
  </table>

<h1 style="text-align: center;"> Found Item details Uploaded by you</h1>
  <table style="margin-bottom:  10px">
    <tr>
      <th>Item Name</th>
      <th>Date of found</th>
      <th>Return status</th>
      <th>Remove Item</th>
    </tr>
    {% for s in stf %}
        <tr>
        <td>{{s.selectitem}}</td>
        <td>{{s.date}}</td>
        {% ifequal 1 s.returnedstatus %}
        <td><a href="/returned/{{s.id}}" class="btn btn-primary" >Returned</a></td>
        {%else%}
        <td><button  class="btn btn-primary" disabled>Returned</button></td>
        {%endifequal%}
        <td><a href="/deletefound/{{s.id}}" class="btn btn-danger">Delete</a></td>
        </tr>
    {%endfor%}
  </table>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'bootstrapfiles/jquery-3.4.1.slim.min.js' %}" ></script>
  <script src="{% static  'bootstrapfiles/popper.min.js'  %}"></script>
  <script src="{% static 'bootstrapfiles/bootstrap.min.js' %}"></script>


</body>
</html>

